
<div>
	<div x-mojo-element="Button" class="palm-button primary"
	    x-mojo-tap-highlight="momentary" id="switchModelsButton">
	    <div class="palm-button-wrapper">
	         Switch model
	    </div>
	</div>
	<div x-mojo-element="Button" class="palm-button primary"
	    x-mojo-tap-highlight="momentary" id="focusButton">
	    <div class="palm-button-wrapper">
	         Focus list item
	    </div>
	</div>
	<table width='100%'>
		<tr>
			<td><div x-mojo-element="CheckBox" id="addCheckbox" class="checkboxClass" name="checkboxName"></div><div>Show add item:</div></td>
		</tr>
		<tr>
			<td><div x-mojo-element="CheckBox" id="visibleCheckbox" class="checkboxClass" name="checkboxName"></div><div>Show List:</div></td>
		</tr>	
	</table>
	<div class="info-text">
		<span x-mojo-loc="">Here is a list:</span>
	</div>
	
	<div id='editableListContainer'>
		<div id="wordsList" x-mojo-element="List" >
		</div>
	</div>
	
</div>