<style type="text/css" media="screen">

#richtext-editor {
	width: 300px;
	min-height: 200px;
	border: 1px solid #999;
	margin: 0px auto;
}

</style>
<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">
	  Rich Text Edit
	</div>
</div>
<div class="palm-body-text">
	Use the application menu to select bold, italic or underlined.
</div>

<div x-mojo-element="RichTextEdit" id="richtexteditId">This here be some rich text</div>
<div x-mojo-element="Button" class="palm-button secondary" 
x-mojo-tap-highlight="momentary" id="update_button">
    <div class="palm-button-wrapper">
         Change Text
    </div>
</div> 
