<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="palm-dialog-title un-capitalize">
		#{prompt}
	</div>
	<div class="palm-dialog-separator"></div>
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
           <div id="username" name="username" x-palm-disable-ste-all="true" x-mojo-element="TextField"></div>
		</div>	
    </div>
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
           <div id="password" name="password" x-mojo-element="PasswordField"></div>
		</div>	
    </div>
</div>
	
<div class="palm-dialog-buttons">
	<div class="palm-button affirmative" id="webViewDialogOkayButton" x-mojo-loc="" x-mojo-tap-highlight="immediate">OK</div>
	<div class="palm-button dismiss" id="webViewDialogCancelButton" x-mojo-loc="" x-mojo-tap-highlight="immediate">Cancel</div>
</div>
