<span id="#{divPrefix}-filterwritedivContainer"><input type="text" id="#{divPrefix}-filterwritediv" style="display: none;position:absolute; font-size:0px; opacity: 0;left: -9999px;" x-palm-disable-ste-all="true" ></input></span>
<div id="#{divPrefix}_list_filter" class="filter-field-container filter-field-container-height" style="display:none;">
  <div class="filter-field-wrapper">
    <div class="mag-glass-icon"></div>
    <div class="results-count-container" id="#{divPrefix}_countDivContainer" style="display:none;">
      <div class="results-count-wrapper">
        <div id="#{divPrefix}_countDiv" class="results-count"></div>        
      </div>
    </div>
    <div id="#{divPrefix}-filterspinner" x-mojo-element="Spinner" class="filter-field-activity-spinner"></div>
   	<div id="#{divPrefix}-filterreaddiv" class="search-term truncating-text"></div> 
  </div>
</div>