<div id="palm-dark-div">

  <!-- <div class="palm-row" x-mojo-focus-highlight="true">
    <div class="palm-row-wrapper">     
      <div class="title"> -->
	      <div id='timepicker' x-mojo-element="TimePicker"></div>
      <!-- </div>
    </div>
  </div>   -->
	
  <div class="palm-row" x-mojo-focus-highlight="true">
    <div class="palm-row-wrapper">     
      <div class="title">
	      <div id='datepicker' x-mojo-element="DatePicker"></div>
      </div>
    </div>
  </div>
  
  <div class="palm-row" x-mojo-focus-highlight="true">
    <div class="palm-row-wrapper">     
      <div class="title">
	      <div id='intpicker' x-mojo-element="IntegerPicker"></div>
      </div>
    </div>
  </div> 


  <div class="palm-row" x-mojo-focus-highlight="true">
    <div class="palm-row-wrapper">     
      <div class="title">
	      <div id='plainpicker' x-mojo-element="Picker">
	      </div>
      </div>
    </div>
  </div>   

	<div id='output' style="font-size:12pt;"></div>
  <div class="palm-button" onclick="$('palm-dark-div').toggleClassName('palm-dark')">Toggle me dark baby!</div>
</div>