<div id="main" class="palm-hasheader">
	<div class="palm-header left" id="main-hdr">
	  List in a Drawer
	</div>
</div>

<div id="toggleDrawerButton" x-mojo-element="Button"></div>

	<div class="testborder">
		<div id='listDrawer' x-mojo-element="Drawer">
			<div id="wordsList" x-mojo-element="List"></div>
		</div>
	</div>


<div style="height: 15px;">
</div>
<div class="palm-group">
	<div class="palm-group-title">
		<span x-mojo-loc="">Clickable Single Lines</span>
	</div>
	<div class="palm-list">
		<div class="first row">
			<div class="title">
				<span x-mojo-loc="">Madagascar</span> 
			</div>
		</div>
		<div class="row">
			<div class="title">
				<span x-mojo-loc="">Malawi</span> 
			</div>
		</div>
		<div class="last row">
			<div class="title">
				<span x-mojo-loc="">Malaysia</span> 
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">
		<span x-mojo-loc="">Clickable Single Lines</span>
	</div>
	<div class="palm-list">
		<div class="first row">
			<div class="title">
				<span x-mojo-loc="">Madagascar</span> 
			</div>
		</div>
		<div class="row">
			<div class="title">
				<span x-mojo-loc="">Malawi</span>
			</div>
		</div>
		<div class="last row">
			<div class="title">
				<span x-mojo-loc="">Malaysia</span> 
			</div>
		</div>
	</div>
</div>
