<div id='helpText'>
  <h3>Help Section</h3>
  <p>This is a scene for help you can also use a website and local files, see the code in appmenu-assistant.js on how to do this</p><br>
  <table>
    <tr>
      <td><font face="verdana, geneva, helvetica" size="2"><b>Help</b></font></td>
      <td></td>
    </tr>
    <tr>
      <td><font face="verdana, geneva, helvetica" size="2">Issue 1</font></td>
      <td><font face="verdana, geneva, helvetica" size="2">Resolution 1</font></td>
    </tr>
    <tr>
      <td><font face="verdana, geneva, helvetica" size="2">Issue 2</font></td>
      <td><font face="verdana, geneva, helvetica" size="2">Resolution 2</font></td>
    </tr>
</div>