<div class="palm-hasheader" >
	<div class="palm-header left">
		<span x-mojo-loc="">List Selector</span>
	</div>
	<div class="palm-header-spacer" style="height:60px"></div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			
			<div class="palm-row first" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="laughSelector" x-mojo-element="ListSelector"></div>                                                   
				</div>
			</div>
			
			<div class="palm-row" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="commotionSelector" x-mojo-element="ListSelector"></div>
				</div>
			</div>        
			<div class="palm-row" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="workSelector" x-mojo-element="ListSelector"></div>                                                   
				</div>
			</div>  
			<div class="palm-row last" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="testSelector" x-mojo-element="ListSelector"></div>   
				</div>
			</div>
		</div>     	
	</div>
	                   
	<div class="info-text">	
		<div id="currentStuff">
		</div>
	</div>                                               

</div>